{% block content %}
<head></head>
<div class="hui">
    <h1>{{boss}}</h1>


    {% for kid in kids %}
    <div class="penis">
        <h2>{{kid['surname']}}</h2>
        <h2 class="tab">{{kid['name']}}</h2>
        <h2 class="tab">{{kid['points']}}</h2>
        <br>
    </div>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title"
                   placeholder="Post title" class="form-control"
                   value="{{ request.form['title'] }}"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">+100</button>
        </div>
    </form>
</div>

<style>
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }
    .penis {
        display: flex;
        align-items: column;
    }

    .tab {
        margin-left: 1%;
    }

    .hui {
        position: absolute;
        width: 1026px;
        height: 588px;
        background: #98CFEE;
        border: 1px solid #D73A3A;
    }
</style>




{% endblock %}